.app {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.bottom-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  background-color: #F7FAFC;
}
