.comment-section {
  // margin-top: 50px;
  padding: 10px;
}

.comments-header {
  text-align: left;
}

.comment {
  text-align: left;
}

ul {
  padding-bottom: 8px;
  border-bottom: 1px solid #6c6ae5;
  list-style: none;
  text-align: left;
  padding-left: 0;
}

li {
    color: #5D5B5E;
}
