.submit-comment {
  margin: 7.5px 0;
  padding: 3.5%;
  width: 100%;
  border: none;
  outline: none;
  background-color: #6c6ae5;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  transition: background-color 0.5s;
  font-family: 'Ubuntu Mono';
  font-size: 115%; }
