.discussion-form-section {
  margin: 10px; }

.add-discussion-btn {
  border: none;
  outline: none;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center; }

.new-discussion-option {
  padding-right: 10px; }

.down-arrow {
  width: 15px;
  height: 15px;
  background-image: url(../assets/down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
