.discussion-form-section {
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 40%;
  height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
}

h3.form-directions {
  font-family: 'Ubuntu Mono';
  font-size: 135%;
}

.form-directions {
  text-align: left;
  line-height: 120%;
}

#dicussion-title,
#dicussion-body {
  display: inline-block;
  margin: 7.5px 0;
  padding: 3.5%;
  width: 93%;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.13);
  border-radius: 5px;
  border: none;
  color: #5D5B5E;
  outline: none;
  font-size: 120%;
  font-family: Nunito;
  background-color: #fff;
}

#dicussion-title::placeholder,
#dicussion-body::placeholder {
  color: #9A979D;
}

.grade-directions {
  margin-bottom: 0;
  text-align: left;
}

.submit-discussion-btn {
  padding: 3.5%;
  width: 100%;
  font-size: 115%;
}

.down-arrow {
  height: 15px;
  width: 15px;
  background-image: url(../assets/down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grade-level-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grade-level-button {
  margin: 20px 0;
  padding: 10px;
  width: 30%;
  line-height: 1.8;
  border-radius: 5px;
  color: #fff;
  text-shadow: -2px 2px #B5B9BC;
  background-color: #B5B9BC;
  border: 1px solid #838C91;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.13);
  border: none;
  cursor: pointer;
  font-family: 'Ubuntu Mono';
  outline: none;
  transition: all 0.5s;
}

.grade-level-button:hover {
  text-shadow: -2px 2px #62696D;
  background-color: #737B7F;
  box-shadow: 0 14px 22px 0 rgba(0,0,0,0.19);
}

.active {
  text-shadow: -2px 2px #62696D;
  background-color: #737B7F;
}

.active:hover {
  text-shadow: -2px 2px #62696D;
  background-color: #737B7F;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.13);
}

.grade-level-domains {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grade-level-domain {
  margin: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  font-size: 70%;
  color: #fff;
}

.grade-level-domain.N,
.grade-level-domain.E,
.grade-level-domain.R,
.grade-level-domain.G,
.grade-level-domain.S,
 {
  background-color: #C2C7CB;
}

.F:hover {
  background-color: #D155FF;
}

.R:hover {
  background-color: #D155FF;
}

.N:hover {
  background-color: #40ECB2;
}

.E:hover {
  background-color: #5C40EC;
}

.G:hover {
  background-color: #D0EC40;
}

.S:hover {
  background-color: #FF7C55;
}

.grade-level-domain {
  font-family: Nunito;
}

.drop-down-standards {
  width: 100%;
  margin: 15px 0;
}
