.card {
  border-radius: 5px;
  background-color: #fff;
  padding: 2.5% 2.5% 10% 2.5%;
}

.card-title {
  text-align: left;
  margin: 0;
}

.card-body {
  text-align: left;
}

.show-more-btn {
  padding: 1% 2.5%;
  float: right;
  width: 135px;
}

.show-more-less-text {
  color: #fff;
  font-family: 'Ubuntu Mono';
  font-size: 90%;
  margin: 5% 0;
}
