.card {
  border-radius: 5px;
  background-color: #fff;
  padding: 1% 3% 2% 3%;
  margin-bottom: 2.5%;
}

.card-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  text-align: left;
  margin: 0;
  display: inline-block;
  font-size: 115%;
}

.card-tag {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 6px;
  color: #fff;
  font-size: 90%;
}

.F {
  background-color: #D155FF;
}

.R {
  background-color: #D155FF;
}

.P {
  background-color: #D155FF;
}

.N {
  background-color: #40ECB2;
}

.E {
  background-color: #5C40EC;
}

.G {
  background-color: #D0EC40;
}

.S {
  background-color: #FF7C55;
}

.card-body {
  text-align: left;
  margin-top: 0;
}

.show-more-btn {
  background-color: #fff;
  border: none;
  outline: none;
}

.show-more-btn:hover {
  cursor: pointer;
}

.show-more-less-text {
  text-transform: uppercase;
  color: #5D5D5D;
  margin-bottom: 0px;
}

.comments-header {
  text-align: left;
}
