#R, #S, #T, #G, #E, #F {
  outline: 2px solid yellow; }

.options-container {
  outline: 1px solid blue; }

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

path {
  stroke: white;
  fill: white; }
