* {
  color: #302E32;
}

.filter-section {
  width: 110%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100%;
  grid-template-areas: "buttons standards";
  padding-top: 30px;
}

.grade-btn-container {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grade-btn {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5%;
  background-color: #6c6ae5;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.13);
  margin: 20px 10px 5px 10px;
  color: #fff;
  width: 150px;
  transition: background-color 0.5s ease;
}

.grade-btn:hover {
  cursor: pointer;
  background-color: #8e54e9;
  box-shadow: 0 14px 22px 0 rgba(0,0,0,0.19);
}

.grade-selected {

}

.options-container {
  grid-area: standards;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.domain-label {
  text-transform: uppercase;
  border-bottom: 1px solid #4a484c;
  width: 90%;
  display: inline-block;
  height: 28px;
}

.standard-checkbox {
  margin: 0px 25% 10px 30%;
  display: flex;
}

.state {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  background-image: url(../assets/check.svg);
  height: 5px;
  width: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

label {
  font-size: 85%;
}
