#R, #S, #T, #G, #E, #F {
  outline: 2px solid yellow; }

.options-container {
  outline: 1px solid blue; }

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.standard-checkbox {
  margin: 4px; }

.icon {
  background-image: url(../assets/check.svg);
  height: 5px;
  width: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none; }
