#R, #S, #T, #G, #E, #F {
  outline: 2px solid yellow;
}

.filter-section {
  // width: 30%;
}

.options-container {
  outline: 1px solid blue;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.standard-checkbox {
  // width: 40%;
}
