.domain-section {
  display: inline-block;
  width: 19%; }

.domain-label-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.domain-label {
  text-transform: uppercase;
  border-bottom: 1px solid #A2A9AD;
  width: 90%;
  display: inline-block;
  height: 28px;
  padding-bottom: 8px; }

.standard-link {
  margin: 0px 25% 10px 30%;
  display: flex;
  background-color: #F7FAFC;
  outline: none;
  border: none; }

.F-link:hover {
  color: #D155FF; }

.R-link:hover {
  color: #D155FF; }

.N-link:hover {
  color: #40ECB2; }

.E-link:hover {
  color: #5C40EC; }

.G-link:hover {
  color: #D0EC40; }

.S-link:hover {
  color: #FF7C55; }

.standard-link:hover {
  cursor: pointer; }

.standard-text {
  margin: 0; }
