* {
  color: #302E32;
}

.filter-section {
  width: 110%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100%;
  grid-template-areas: "buttons standards";
  padding-top: 30px;
}

.grade-btn-container {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grade-btn {
  padding: 5%;
  width: 150px;
  font-size: 110%;
}

.grade-selected {

}

.options-container {
  grid-area: standards;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
