.domain-section {
  display: inline-block;
  width: 19%;
}

.domain-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.domain-label {
  text-transform: uppercase;
  border-bottom: 1px solid #4a484c;
  width: 90%;
  display: inline-block;
  height: 28px;
  padding-bottom: 8px;
}

.standard-link {
  margin: 0px 25% 10px 30%;
  display: flex;
  background-color: #fafafa;
  outline: none;
  border: none;
}

.standard-text {
  margin: 0;
}
