.header {
  background-color: #F4F8FB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2%;
}

.app-name {
  color: #2B2B2B;
  margin: 0;
  font-family: 'Ubuntu Mono';
}

.sign-out {
  color: #2B2B2B;
  margin: 0;
  font-family: 'Ubuntu Mono';
}

.sign-out:hover {
  cursor: pointer;
}
