.header {
  background: #4776e6;
  background: -webkit-linear-gradient(to right, #4776e6, #8e54e9);
  background: linear-gradient(to right, #4776e6, #8e54e9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }

.app-name {
  color: #fff;
  margin: 0;
  font-family: 'Ubuntu Mono'; }

.sign-out {
  color: #fff;
  margin: 0;
  font-family: 'Ubuntu Mono'; }
