@import url(./App.css);
@import url(./Header.css);
@import url(./Nav.css);
@import url(./Search.css);
@import url(./Filter.css);
@import url(./FilterForm.css);
@import url(./FilterSection.css);
@import url(./DiscussionForm.css);
@import url(./CardContainer.css);
@import url(./DiscussionCard.css);
@import url(./CommentForm.css);
@import url(./normalize.css);
// @import '~pretty-checkbox/src/pretty.scss';

* {
  font-family: Nunito, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
