* {
  color: #2B2B2B;
}

.greeting {
  font-family: 'Ubuntu Mono';
  font-size: 170%;
}

.victory-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.domain-breakdown {
  height: 350px;
  width: 350px;
}

.icon-data {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  height: 333px;
}

.data-title {
  text-transform: uppercase;
  margin: 15px;
}

span {
  color: #F7FAFC;
}

.acitivty-data-title {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 32.5%;
}

.breakdown-data-title {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 27.5%;
}

.activity-chart {
  height: 400px;
  width: 400px;
}

.discussion-data,
.comment-data {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discussion-icon {
  background-image: url(../assets/discussion.svg);
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-icon {
  background-image: url(../assets/comment.svg);
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.domain-breakdown,
.activity-chart,
.icon-data {
  position: relative;
}
