@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

.nav {
  background-color: #fafafa;
  outline: 1px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

.sign-out {
  color: #000;
  margin: 0;
  font-family: 'Ubuntu Mono';
}
