.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #302E32;
  border: 1px solid black;
  padding: 0 2%;
}

.filter-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #302E32;
  border: none;
  outline: none;
  cursor: pointer;
}

.standard-option {
  padding-right: 10px;
  color: #fff;
}

.toggle-discussion-form-btn,
.toggle-discussions-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #302E32;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-discussion-option {
  padding-right: 10px;
  color: #fff;
}
