.search-section {
  // width: 30%;
}

#search-input {
  padding: 5px;
  background-image: url(../assets/search.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 95%;
}
